#################
## IGNORE FILE
#################

*.sln
*.suo
*.user
*.Debug.config
*.Release.config
*.csproj
*.pdb
*.cache
bin/HelloGit.dll.config
bin/HelloGit.dll.config
obj/Debug/HelloGit.dll
obj/Debug/HelloGit.csproj.FileListAbsolute.txt
bin/HelloGit.dll.config
obj/Debug/HelloGit.csproj.FileListAbsolute.txt
